/* 
        Form Stylisting 
================================*/
.formAuth {
    font-family: $font-family;
    font-size: calc(1em + .5vw);
    color: $text-header-color;
    
    background-color: $bg-color-dark;
    border-radius: 2px;
    width: 80vw;
    margin: 1em auto;
    
    @include screen-min($tablet-width) {
        max-width: 60vw;
    }
    
    &__legend {
        padding: .2em;
        color: $text-header-color;
    
        background-color: $bg-header-color;
    }
    
    &__error {
        font-size: calc(.5em + .5vw);
        color: $error-color;
    }
    
    &__group {
        display: flex;
        flex-direction: column;
        
        width: 90%;
        margin: auto;
        
        & label {
            margin: .5em 0;
        }
        & a {
            text-align: center;
            text-decoration: none;
        }
        & input,
        & select {
            height: 1.5em;
            width: 40%;
        }
        & input[type='submit']{
            width: 25vw;
            margin: 1em auto;
        }
        & textarea {
            width: 40vw;
        }
    }
}
