/* ==============================
           VARIABLES 
==================================*/
$error-color: #E64A19;
$text-header-color: #303030;

$bg-header-color: #91ff8e;
$purple-dark: #bb0099;
$bg-color: #D14E95;
$bg-color-dark :#88008f;
$text-color: #38d33a;

$font-family: 'Arial Narrow', Arial, sans-serif; 

$tablet-width: 768px;
$desktop-width: 1024px;


/* 
        For Mobile-First Design
==================================== */
@mixin screen-min($min) { 
  @media (min-width: $min) { 
    @content 
  } 
};