/* ==============================
           VARIABLES 
==================================*/
$error-color: #E64A19;
$text-header-color: #303030;

$bg-header-color: #90b644;
$purple-dark: #B48EAD;
$bg-color: #f98bfd;
$bg-color-dark :#e3a6e6;
$text-color: #49b84a;

$font-family: 'Arial Narrow', Arial, sans-serif; 

$tablet-width: 768px;
$desktop-width: 1024px;


/* 
        For Mobile-First Design
==================================== */
@mixin screen-min($min) { 
  @media (min-width: $min) { 
    @content 
  } 
};