/* ==============================
           VARIABLES 
==================================*/
$error-color: #E64A19;
$text-header-color: #303030;

$bg-header-color: #19c81f;
$purple-dark:	#9a598b;
$bg-color: #ffddf7;
$bg-color-dark :#88008f;
$text-color: rgb(19, 112, 20);

$font-family: 'Arial Narrow', Arial, sans-serif; 

$tablet-width: 768px;
$desktop-width: 1024px;


/* 
        For Mobile-First Design
==================================== */
@mixin screen-min($min) { 
  @media (min-width: $min) { 
    @content 
  } 
};