.intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
     
    @include screen-min($tablet-width) {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    & img {
        width: 90vw;
        @include screen-min($tablet-width) {
            width: 30vw;
        }
    }
    
     & article {
        width: 90vw;
        margin: auto;
        @include screen-min($tablet-width) {
            width: 50vw;
        }
    }

}

.card {
    
    border: 1px solid $bg-color-dark;
    border-radius: 1px;
    background-color: $purple-dark;
    width: 100%;
    margin: 0;
    
    & ul {
        list-style-type: square;
    }

    & img {
        width: 90vw;
        margin: auto;

        @include screen-min($tablet-width) {
            width: 30vw;
            margin: auto;
        }
        
        
    }
    
    & article {
        margin: auto;
        padding: .5em;

        @include screen-min($tablet-width) {
            width: 50vw;
            margin: auto;
        }
    }
}

