.intro {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    
     
    @include screen-min($tablet-width) {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    & img {
        width: 90vw;
        @include screen-min($tablet-width) {
            width: 30vw;
        }
    }
    
     & article {
        width: 50vw;
        margin-left: 1em;
        padding: 1em;
    
    }

}

.card {
    
    border: 1px solid $bg-color-dark;
    border-radius: 1px;
    background-color: $purple-dark;
    width: 100%;
    margin: 0;
    
    & ul {
        list-style-type: square;
    }

    & img {
        width: 90vw;
        @include screen-min($tablet-width) {
            width: 30vw;
        }
        
        margin: auto;
    }
    
    & article {
        width: 60vw;
        margin: auto;
    }
}

