.test {
    
    border: 1px solid $bg-color-dark;
    border-radius: 1px;
    width: 80vw;
    margin: auto;

    @include screen-min($tablet-width) {
        width: 50vw;
        margin: auto;
    }

    & img {
        width: 90vw;
        margin: auto;

        @include screen-min($tablet-width) {
            width: 30vw;
            margin: auto;
        }
        
        
    }
    
    & article {
        width: 70vw;
        margin: 1em;
        padding: .5em;
        background-color: $bg-color-dark;

        @include screen-min($tablet-width) {
            width: 50vw;
            margin: auto;
        }
    }
}