.test {
    display: flex;
    flex-direction: column;
    background-color: $bg-color-dark;
    border-radius: 1px;
    width: 90vw;
    margin: auto;
    text-align: justify;

    @include screen-min($tablet-width) {
        width: 90vw;
        margin: auto;
        flex-direction: row;
    }

    
    & article {
        display: flex;
        width: 100%;
        padding: 1em;
        align-items: center;

        @include screen-min($tablet-width) {
            width: 50vw;
            flex-direction: row-reverse;
            margin: auto;
        }

        & img {
            width: calc(40vw - 2em);
            margin: 1em;
    
            @include screen-min($tablet-width) {
                flex-direction: row;
                width: 25vw;
                margin: 1em;
            }  
        }
    }
}